$quoteFonts: 'Playfair Display', Arial, Helvetica, sans-serif;
// $quoteFonts: 'Grand Hotel', Arial, Helvetica, sans-serif;
// $quoteFonts: 'Lobster', Arial, Helvetica, sans-serif;
$headingFonts: 'Source Sans Pro', Arial, Helvetica, sans-serif;
$logoFonts: 'Titillium Web', Arial, Helvetica, sans-serif;
$generalFonts: 'Noto Sans TC', Arial, Helvetica, sans-serif;

$veryLightBg: #fbfdff;

$lighterMainColor: #c7dffe;
$mainColor: #377ffd;
$darkerMainColor: #0144a6;

$secondaryColor: #00d5b6;

$bgColor: #eff1ff;

$containerWidth: 1200px;

$tabletLandscape: 1024px;
$tabletPortrait: 812px;
$mobile: 500px;

$errorColor: #f14f4f;
$successColor: #34e181;

%section-padding {
  padding: 120px 0;
}
