@import './variables';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,400,700,900');

body {
  -webkit-font-smoothing: antialiased;
  font-family: $generalFonts;
}

// input {
//   &::placeholder {
//     opacity: 0;
//   }
//   &::-webkit-input-placeholder,
//   &::-moz-placeholder,
//   &:-ms-input-placeholder,
//   &:-moz-placeholder {
//     /* Chrome/Opera/Safari */
//     color: pink;
//     opacity: 0.1;
//   }
// }

input {
  border-radius: 2px !important;
}

small {
  font-style: italic;
}

.content {
  margin-top: 56px;
  margin-bottom: 100px;
}

.dropzone {
  width: 100%;
  margin-bottom: 15px;
  cursor: pointer;
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    flex-direction: column;
    i {
      font-size: 30px;
      margin-bottom: 20px;
    }
  }
}

nav.navbar {
  background-color: white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 15px;
        font-weight: 600;
        &.active {
          border-bottom: 2px solid;
        }
      }
    }
  }
}

.success-message,
.error-message {
  position: fixed;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  width: 100%;
  text-align: center;
}

.alert {
  // width: 300px;
  margin: 0 auto;
  font-weight: 700;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 55px;
}

.success-text,
.error-text {
  width: 350px;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.success-text {
  background-color: green;
}

.error-text {
  background-color: red;
}

.loading-spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profiles {
  .profile {
    margin-bottom: 25px;
    .image {
      width: 100%;
      height: 150px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }
  }
}

.create-profile {
  .avatar-preview-wrapper {
    width: 150px;
    height: 150px;
    margin: 10px auto;
    .avatar-preview {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 100%;
      background-color: #444;
      border: 7px solid rgba(255, 255, 255, 1);
      box-shadow: 0px 0px 0px 1px #444;
    }
  }
}

.single-profile {
  .profile-picture-image {
    width: 100%;
    overflow: hidden;
    height: 240px;
    background: #0f2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #2c5364,
      #203a43,
      #0f2027
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #2c5364,
      #203a43,
      #0f2027
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 20px;
    box-sizing: content-box;
    .bg-image {
      height: 120%;
      width: 120%;
      background-size: 100%;
      background-position: center;
      filter: blur(14px);
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%);
      overflow: hidden;
      opacity: 0.5;
    }
    .profile-picture {
      width: 150px;
      height: 150px;
      z-index: 1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        border-radius: 100%;
        border: 7px solid rgba(255, 255, 255, 0.9);
        box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.2);
      }
    }
  }
  .profile-details {
    text-align: center;
    .top-profile-details {
      padding: 8px 12px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      margin-bottom: 30px;
      margin-top: -10px;
      transform: translateY(-11px);
      background-color: white;
      border-radius: 100px;
      .top-profile-detail {
        margin-right: 15px;
        margin-left: 15px;
        i {
          margin-right: 5px;
        }
      }
      .message {
        cursor: pointer;
      }
    }
    .company-name {
      text-align: left;
    }
    .company-bio {
      text-align: left;
    }
  }
}

.playlists-section {
  .playlists {
    > .row {
      min-height: 50vh;
    }
  }
  .playlist {
    position: relative;
    .top-playlist-photo-wrapper {
      width: 100%;
      height: 100px;
      margin-bottom: 12px;
      .top-playlist-photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }
    .delete-button {
      position: absolute;
      bottom: 15px;
      right: 15px;
      font-size: 12px;
      padding: 4px 7px;
    }
    small {
      cursor: pointer;
      color: blue;
    }
  }
}

.single-playlist-section {
  .playlist-photos {
    .playlist-photo {
      height: 170px;
      border-radius: 3px;
      position: relative;
      img {
        width: 100%;
        border-radius: 3px;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
      }
      &:hover {
        .delete-photo {
          display: block;
        }
      }
      .delete-photo {
        display: none;
        position: absolute;
        right: 25px;
        top: 10px;
        font-size: 12px;
        padding: 4px 7px;
      }
    }
  }
}

.message-headers {
  padding-right: 0;
  .message-header {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    border-bottom: 0px solid;
    border-right: 0px solid;
    // &:nth-of-type(0) {
    //   border-bottom: 0px;
    // }
    &:nth-last-child(1) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .message-name {
      font-weight: 900;
    }
    .message-date {
    }
  }
}

.display-message {
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 50vh;
  padding: 30px;
  .name {
  }
  .email {
    padding: 5px 8px;
    border: 1px solid;
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
  }
  .date {
  }
  .message {
  }
}

.modal {
  display: block;
  background: rgba(0, 0, 0, 0.9);
  overflow: scroll;
  img {
    width: 100%;
    margin-bottom: 5px;
  }
}

.empty-info {
  width: 100%;
  height: 100%;
  font-style: italic;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width: $containerWidth) {
  .profiles-container {
    max-width: 100%;
  }
}
